# Model hyperparameters
model:
  act_n: "ELU"
  act_c: "ELU"
  l_dim: 128
  h_dim: 256
  ks: [0.9, 0.8, 0.7]
  drop_n: 0.1
  drop_c: 0.1

# Training parameters
training:
  lr: 0.0001
  epochs: 50
  batch_size: 4

